{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'table/editor-style.css' %}">
    <script src="{% static 'table/editor-scripts.js' %}"></script>
    <style>
    {% for k,v in fields.layout.items %}
        .{{k}} {
            display: grid;
            grid-template: {% autoescape off %}{{v}}{% endautoescape %};
        }   
    {% endfor %}
    {% for k, v in fields.objects.items %}
        .{{k.name}}{
        {% for k,v in v.items %}
            {{k}}: {{v}};
        {% endfor %}
        }
    {% endfor %}
    </style>
</head>
<body>
<div class="container">
{% autoescape off %}{{fields.div_layout}}{% endautoescape %}
</div>
</body>